#medicamentos-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

#medicamentos-table th, #medicamentos-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

#medicamentos-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#medicamentos-table img {
    max-width: 70px;
    max-height: 70px;
}

#medicamentos-table td {
  line-height: 60px;
  font-size: 18px;
}


#body-medicamentos {
    margin: 0;
    height: 150vh;
    display: flex;
    flex-direction: column;
  }
#main-medicamentos {
    display: flex;
    height: auto;
  }
.left-pane {
    flex: 0.7;
    background-color: #f2f2f2;
  }
.right-pane {
    flex: 0.3;
    background-color: #e6e6e6;
  }