.container2 {
    display: flex;
    width: 100%;
    background-color: rgb(247, 242, 242);
}

.main-content2 {
    flex: 1;
    padding: 20px;
}

.aside2 {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

form {
    text-align: center;
}

.form-group2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    float: left;
}

#mensaje,
#nombre,
#email {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#mensaje:focus,
#nombre:focus,
#email:focus {
    outline: none;
    border: 2px solid green;
}

#mensaje {
    max-width: 621px;
}

#bt-enviar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms all;
}

#bt-enviar:hover {
    background-color: rgb(40, 134, 40);
    color: whitesmoke;
}

h4 {
    color: black;
    font-weight: bold;
}

.divs-ayuda {
    padding: 10px;
}

#numero-ayuda, #horarios {
    font-family: Arial, sans-serif;
    font-size: 18px;
    white-space: pre-line;
    color: gray;
}